<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>533421921403-3eh8uluer9ebv0rkekkp2qj24sbtcg1u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.533421921403-3eh8uluer9ebv0rkekkp2qj24sbtcg1u</string>
	<key>API_KEY</key>
	<string>AIzaSyDnIedUQs_9rOKKjoDoudFF1mTev4kCb9I</string>
	<key>GCM_SENDER_ID</key>
	<string>533421921403</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rubikCubeShop</string>
	<key>PROJECT_ID</key>
	<string>rubik-cube-shop</string>
	<key>STORAGE_BUCKET</key>
	<string>rubik-cube-shop.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:533421921403:ios:2601095f144e4134273ede</string>
</dict>
</plist>